# YOUR PROJECT TITLE

### Ideer (inspireret af Samf B hjemmeopgave 2)
- Brug DST: tabel AUS07 til at vise udviklingen i bruttoledighed underinddelt i køn (stablet søjler evt. med linje der angive i alt)
- Brug DST: tabel AUS07 til at vise udviklingen i bruttoledighed underinddelt i alder
- Arbejdsstyrke?
- Brug DST: tabel AUS08 til at vise udviklingen i bruttoledighed underinddelt i region
- Evt. kig på ’discouraged worker-effect’ (ledige der trækker sig ud af arbejdsmarkedet ved høj arbejdsløshed). Her skal man se på om beskæftigelsen er faldet mere end ledigheden (bruttoledighed = RAM - find tabel - og (årlig)beskæftigelse = NABB19 -> findes der en statistik der opgører månedlig beskæftigelse? RAM skal sammenlignes med Nationalregnskabet)
- Brug DST: tabel EKSP04 (ledige og nyopslåede stillinger på jobnet) til at illustrere efterspørgslen efter arbejdskraft.
- Brug DST: tabel AUP01 (fuldtidsledige som pct. af arbejdsstyrken fordelt på alder og område)
- Brug DST: LBESK03 lønmodtagere efter branche. Udviklingen i ledigheden på tværs af erhver-agtigt


https://www.dst.dk/da/Statistik/nyt/NytHtml?cid=31501
 

Lav en slags tidslinje over begivenheder der kan have haft effekt på lededen/beskæftigelse. Eventuelt inkluder dem direkte i grafer

Imports and set magics:

**Import packages**

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import ipywidgets as widgets
#from matplotlib_venn import venn2 # install with pip install matplotlib-venn

# autoreload modules when code is run
%load_ext autoreload
%autoreload 2

# local modules
import dataproject
#pip install git+https://github.com/elben10/pydst 
#to run this the above code needs to be installed in terminal

# Read and clean data

**Import package Pydst to get data using an API from Statistics Denmark**

In [2]:
import pydst

In [3]:
Dst = pydst.Dst(lang='en')
#Dst.get_tables(subjects=['INDKP107'])
Dst.get_subjects()
tables = Dst.get_tables(subjects=['04'])

**Getting data from table: AUS07**

In [4]:
data_aus07 = tables[tables.id=='AUS07']
data_aus07

,id,text,unit,updated,firstPeriod,latestPeriod,active,variables
113,AUS07,Unemployed persons (seasonally adjusted),-,2021-03-04 08:00:00,2007M01,2021M01,True,"[benefits, sex and age, seasonal adjustment an..."

In [5]:
aus_vars = Dst.get_variables(table_id='AUS07')
aus_vars

,id,text,elimination,time,values
0,YD,"benefits, sex and age",False,False,"[{'id': 'TOT', 'text': 'Gross unemployment'}, ..."
1,SAESONFAK,seasonal adjustment and actual figures,False,False,"[{'id': '9', 'text': 'Seasonally adjusted figu..."
2,Tid,time,False,True,"[{'id': '2007M01', 'text': '2007M01'}, {'id': ..."

In [6]:
for id in ['YD', 'SAESONFAK','Tid']:
    print(id)
    values = aus_vars.loc[aus_vars.id == id, ['values']].values[0,0]
    for value in values:
        print(f' id = {value["id"]}, text = {value["text"]}')
#Bruttoledige består af de ikke-aktiverede (nettoledige) og aktiverede ledige.

YD
 id = TOT, text = Gross unemployment
 id = NET, text = Net unemployment
 id = LDP, text = Net unemployed recipients of unemployment benefits
 id = LKT, text = Net unemployed recipients of social assistance
 id = AKI, text = Activation total
 id = ADP, text = Activation of persons on unemployment benefits
 id = AKT, text = Activation of persons on social assistance (prepared for employment)
 id = MEN, text = Men
 id = KVR, text = Women
 id = U25, text = 16-24 years
 id = O25, text = 25-29 years
 id = O30, text = 30-39 years
 id = O40, text = 40-49 years
 id = O50, text = 50-59 years
 id = O60, text = 60 years and more
SAESONFAK
 id = 9, text = Seasonally adjusted figures in percent of the labour force
 id = 10, text = Seasonally adjusted
 id = 22, text = Enumerated actual figures  in percent of the labour force
 id = 24, text = Enumerated actual figures
Tid
 id = 2007M01, text = 2007M01
 id = 2007M02, text = 2007M02
 id = 2007M03, text = 2007M03
 id = 2007M04, text = 2007M04
 id = 2007M05, text = 2007M05
 id = 2007M06, text = 2007M06
 id = 2007M07, text = 2007M07
 id = 2007M08, text = 2007M08
 id = 2007M09, text = 2007M09
 id = 2007M10, text = 2007M10
 id = 2007M11, text = 2007M11
 id = 2007M12, text = 2007M12
 id = 2008M01, text = 2008M01
 id = 2008M02, text = 2008M02
 id = 2008M03, text = 2008M03
 id = 2008M04, text = 2008M04
 id = 2008M05, text = 2008M05
 id = 2008M06, text = 2008M06
 id = 2008M07, text = 2008M07
 id = 2008M08, text = 2008M08
 id = 2008M09, text = 2008M09
 id = 2008M10, text = 2008M10
 id = 2008M11, text = 2008M11
 id = 2008M12, text = 2008M12
 id = 2009M01, text = 2009M01
 id = 2009M02, text = 2009M02
 id = 2009M03, text = 2009M03
 id = 2009M04, text = 2009M04
 id = 2009M05, text = 2009M05
 id = 2009M06, text = 2009M06
 id = 2009M07, text = 2009M07
 id = 2009M08, text = 2009M08
 id = 2009M09, text = 2009M09
 id = 2009M10, text = 2009M10
 id = 2009M11, text = 2009M11
 id = 2009M12, text = 2009M12
 id = 2010M01, text = 2010M01
 id = 2010M02, text = 2010M02
 id = 2010M03, text = 2010M03
 id = 2010M04, text = 2010M04
 id = 2010M05, text = 2010M05
 id = 2010M06, text = 2010M06
 id = 2010M07, text = 2010M07
 id = 2010M08, text = 2010M08
 id = 2010M09, text = 2010M09
 id = 2010M10, text = 2010M10
 id = 2010M11, text = 2010M11
 id = 2010M12, text = 2010M12
 id = 2011M01, text = 2011M01
 id = 2011M02, text = 2011M02
 id = 2011M03, text = 2011M03
 id = 2011M04, text = 2011M04
 id = 2011M05, text = 2011M05
 id = 2011M06, text = 2011M06
 id = 2011M07, text = 2011M07
 id = 2011M08, text = 2011M08
 id = 2011M09, text = 2011M09
 id = 2011M10, text = 2011M10
 id = 2011M11, text = 2011M11
 id = 2011M12, text = 2011M12
 id = 2012M01, text = 2012M01
 id = 2012M02, text = 2012M02
 id = 2012M03, text = 2012M03
 id = 2012M04, text = 2012M04
 id = 2012M05, text = 2012M05
 id = 2012M06, text = 2012M06
 id = 2012M07, text = 2012M07
 id = 2012M08, text = 2012M08
 id = 2012M09, text = 2012M09
 id = 2012M10, text = 2012M10
 id = 2012M11, text = 2012M11
 id = 2012M12, text = 2012M12
 id = 2013M01, text = 2013M01
 id = 2013M02, text = 2013M02
 id = 2013M03, text = 2013M03
 id = 2013M04, text = 2013M04
 id = 2013M05, text = 2013M05
 id = 2013M06, text = 2013M06
 id = 2013M07, text = 2013M07
 id = 2013M08, text = 2013M08
 id = 2013M09, text = 2013M09
 id = 2013M10, text = 2013M10
 id = 2013M11, text = 2013M11
 id = 2013M12, text = 2013M12
 id = 2014M01, text = 2014M01
 id = 2014M02, text = 2014M02
 id = 2014M03, text = 2014M03
 id = 2014M04, text = 2014M04
 id = 2014M05, text = 2014M05
 id = 2014M06, text = 2014M06
 id = 2014M07, text = 2014M07
 id = 2014M08, text = 2014M08
 id = 2014M09, text = 2014M09
 id = 2014M10, text = 2014M10
 id = 2014M11, text = 2014M11
 id = 2014M12, text = 2014M12
 id = 2015M01, text = 2015M01
 id = 2015M02, text = 2015M02
 id = 2015M03, text = 2015M03
 id = 2015M04, text = 2015M04
 id = 2015M05, text = 2015M05
 id = 2015M06, text = 2015M06
 id = 2015M07, text = 2015M07
 id = 2015M08, text = 2015M08
 id = 2015M09, text = 2015M09
 id = 2015M10, text = 2015M10
 id = 2015M11, text = 2015M11
 id = 2015M12, text = 2015M12
 id = 2016M01, text = 2016M01
 id = 2016M02, text = 2016M02
 id = 2016M03, text = 2016M03
 id = 2016M04, text = 2016M04
 id = 2016M05, text = 2016M05
 id = 2016M06, text = 2016M06
 id = 2016M07, text = 2016M07
 id = 2016M08, text = 2016M08
 id = 2016M09, text = 2016M09
 id = 2016M10, text = 2016M10
 id = 2016M11, text = 2016M11
 id = 2016M12, text = 2016M12
 id = 2017M01, text = 2017M01
 id = 2017M02, text = 2017M02
 id = 2017M03, text = 2017M03
 id = 2017M04, text = 2017M04
 id = 2017M05, text = 2017M05
 id = 2017M06, text = 2017M06
 id = 2017M07, text = 2017M07
 id = 2017M08, text = 2017M08
 id = 2017M09, text = 2017M09
 id = 2017M10, text = 2017M10
 id = 2017M11, text = 2017M11
 id = 2017M12, text = 2017M12
 id = 2018M01, text = 2018M01
 id = 2018M02, text = 2018M02
 id = 2018M03, text = 2018M03
 id = 2018M04, text = 2018M04
 id = 2018M05, text = 2018M05
 id = 2018M06, text = 2018M06
 id = 2018M07, text = 2018M07
 id = 2018M08, text = 2018M08
 id = 2018M09, text = 2018M09
 id = 2018M10, text = 2018M10
 id = 2018M11, text = 2018M11
 id = 2018M12, text = 2018M12
 id = 2019M01, text = 2019M01
 id = 2019M02, text = 2019M02
 id = 2019M03, text = 2019M03
 id = 2019M04, text = 2019M04
 id = 2019M05, text = 2019M05
 id = 2019M06, text = 2019M06
 id = 2019M07, text = 2019M07
 id = 2019M08, text = 2019M08
 id = 2019M09, text = 2019M09
 id = 2019M10, text = 2019M10
 id = 2019M11, text = 2019M11
 id = 2019M12, text = 2019M12
 id = 2020M01, text = 2020M01
 id = 2020M02, text = 2020M02
 id = 2020M03, text = 2020M03
 id = 2020M04, text = 2020M04
 id = 2020M05, text = 2020M05
 id = 2020M06, text = 2020M06
 id = 2020M07, text = 2020M07
 id = 2020M08, text = 2020M08
 id = 2020M09, text = 2020M09
 id = 2020M10, text = 2020M10
 id = 2020M11, text = 2020M11
 id = 2020M12, text = 2020M12
 id = 2021M01, text = 2021M01

In [7]:
variables = {'YD': ['TOT'], 'SAESONFAK': ['10'],'Tid': ['*']}
aus07 = Dst.get_data(table_id = 'AUS07', variables = variables)
aus07 = aus07.iloc[:,1:] #dropping column 'YD'
aus07.head()

             SAESONFAK      TID   INDHOLD
0  Seasonally adjusted  2008M11   79298.9
1  Seasonally adjusted  2008M12   85631.1
2  Seasonally adjusted  2009M01   92165.2
3  Seasonally adjusted  2009M02  101461.8
4  Seasonally adjusted  2009M03  111313.7

Drop column ID

In [8]:
#new_api11 = pd.DataFrame(new_api1)
#new_api11.head(10)

**Getting data from table: LBESK03**

In [9]:
data_lbesk03 = tables[tables.id=='LBESK03']
data_lbesk03
lbesk_vars = Dst.get_variables(table_id='LBESK03')
lbesk_vars

,id,text,elimination,time,values
0,BRANCHEDB071038,industry (DB07 10- and 19-grouping),True,False,"[{'id': 'TOT', 'text': 'TOT Industry, total'},..."
1,Tid,time,False,True,"[{'id': '2008M01', 'text': '2008M01'}, {'id': ..."

In [10]:
for id in ['BRANCHEDB071038','Tid']:
    print(id)
    values = lbesk_vars.loc[lbesk_vars.id == id, ['values']].values[0,0]
    for value in values:
        print(f' id = {value["id"]}, text = {value["text"]}')
#Bruttoledige består af de ikke-aktiverede (nettoledige) og aktiverede ledige.

BRANCHEDB071038
 id = TOT, text = TOT Industry, total
 id = 1, text = 1 Agriculture, forestry and fishing
 id = A, text = A Agriculture, forestry and fishing
 id = 2, text = 2 Manufacturing, mining and quarrying, and utility services
 id = B, text = B Mining and quarrying
 id = C, text = C Manufacturing
 id = D, text = D Electricity, gas, steam and air conditioning supply
 id = E, text = E Water supply, sewerage and waste management
 id = 3, text = 3 Construction
 id = F, text = F Construction
 id = 4, text = 4 Trade and transport etc.
 id = G, text = G Wholesale and retail trade
 id = H, text = H Transportation
 id = I, text = I Accommodation and food service activities
 id = 5, text = 5 Information and communication
 id = J, text = J Information and communication
 id = 6, text = 6 Financial and insurance
 id = K, text = K Financial and insurance
 id = 7, text = 7 Real estate
 id = L, text = L Real estate activities
 id = 8, text = 8 Other business services
 id = M, text = M Knowledge-based services
 id = N, text = N Travel agent, cleaning, and other operationel services
 id = 9, text = 9 Public administration, education and health
 id = O, text = O Public administration, defence and compulsory social security
 id = P, text = P Education
 id = Q, text = Q Human health and social work
 id = 10, text = 10 Arts, entertainment and recration activities
 id = R, text = R Arts, entertainment and recreation activities
 id = S, text = S Other service activities etc.
 id = 11, text = 11 Activity not stated
 id = X, text = X Activity not stated
Tid
 id = 2008M01, text = 2008M01
 id = 2008M02, text = 2008M02
 id = 2008M03, text = 2008M03
 id = 2008M04, text = 2008M04
 id = 2008M05, text = 2008M05
 id = 2008M06, text = 2008M06
 id = 2008M07, text = 2008M07
 id = 2008M08, text = 2008M08
 id = 2008M09, text = 2008M09
 id = 2008M10, text = 2008M10
 id = 2008M11, text = 2008M11
 id = 2008M12, text = 2008M12
 id = 2009M01, text = 2009M01
 id = 2009M02, text = 2009M02
 id = 2009M03, text = 2009M03
 id = 2009M04, text = 2009M04
 id = 2009M05, text = 2009M05
 id = 2009M06, text = 2009M06
 id = 2009M07, text = 2009M07
 id = 2009M08, text = 2009M08
 id = 2009M09, text = 2009M09
 id = 2009M10, text = 2009M10
 id = 2009M11, text = 2009M11
 id = 2009M12, text = 2009M12
 id = 2010M01, text = 2010M01
 id = 2010M02, text = 2010M02
 id = 2010M03, text = 2010M03
 id = 2010M04, text = 2010M04
 id = 2010M05, text = 2010M05
 id = 2010M06, text = 2010M06
 id = 2010M07, text = 2010M07
 id = 2010M08, text = 2010M08
 id = 2010M09, text = 2010M09
 id = 2010M10, text = 2010M10
 id = 2010M11, text = 2010M11
 id = 2010M12, text = 2010M12
 id = 2011M01, text = 2011M01
 id = 2011M02, text = 2011M02
 id = 2011M03, text = 2011M03
 id = 2011M04, text = 2011M04
 id = 2011M05, text = 2011M05
 id = 2011M06, text = 2011M06
 id = 2011M07, text = 2011M07
 id = 2011M08, text = 2011M08
 id = 2011M09, text = 2011M09
 id = 2011M10, text = 2011M10
 id = 2011M11, text = 2011M11
 id = 2011M12, text = 2011M12
 id = 2012M01, text = 2012M01
 id = 2012M02, text = 2012M02
 id = 2012M03, text = 2012M03
 id = 2012M04, text = 2012M04
 id = 2012M05, text = 2012M05
 id = 2012M06, text = 2012M06
 id = 2012M07, text = 2012M07
 id = 2012M08, text = 2012M08
 id = 2012M09, text = 2012M09
 id = 2012M10, text = 2012M10
 id = 2012M11, text = 2012M11
 id = 2012M12, text = 2012M12
 id = 2013M01, text = 2013M01
 id = 2013M02, text = 2013M02
 id = 2013M03, text = 2013M03
 id = 2013M04, text = 2013M04
 id = 2013M05, text = 2013M05
 id = 2013M06, text = 2013M06
 id = 2013M07, text = 2013M07
 id = 2013M08, text = 2013M08
 id = 2013M09, text = 2013M09
 id = 2013M10, text = 2013M10
 id = 2013M11, text = 2013M11
 id = 2013M12, text = 2013M12
 id = 2014M01, text = 2014M01
 id = 2014M02, text = 2014M02
 id = 2014M03, text = 2014M03
 id = 2014M04, text = 2014M04
 id = 2014M05, text = 2014M05
 id = 2014M06, text = 2014M06
 id = 2014M07, text = 2014M07
 id = 2014M08, text = 2014M08
 id = 2014M09, text = 2014M09
 id = 2014M10, text = 2014M10
 id = 2014M11, text = 2014M11
 id = 2014M12, text = 2014M12
 id = 2015M01, text = 2015M01
 id = 2015M02, text = 2015M02
 id = 2015M03, text = 2015M03
 id = 2015M04, text = 2015M04
 id = 2015M05, text = 2015M05
 id = 2015M06, text = 2015M06
 id = 2015M07, text = 2015M07
 id = 2015M08, text = 2015M08
 id = 2015M09, text = 2015M09
 id = 2015M10, text = 2015M10
 id = 2015M11, text = 2015M11
 id = 2015M12, text = 2015M12
 id = 2016M01, text = 2016M01
 id = 2016M02, text = 2016M02
 id = 2016M03, text = 2016M03
 id = 2016M04, text = 2016M04
 id = 2016M05, text = 2016M05
 id = 2016M06, text = 2016M06
 id = 2016M07, text = 2016M07
 id = 2016M08, text = 2016M08
 id = 2016M09, text = 2016M09
 id = 2016M10, text = 2016M10
 id = 2016M11, text = 2016M11
 id = 2016M12, text = 2016M12
 id = 2017M01, text = 2017M01
 id = 2017M02, text = 2017M02
 id = 2017M03, text = 2017M03
 id = 2017M04, text = 2017M04
 id = 2017M05, text = 2017M05
 id = 2017M06, text = 2017M06
 id = 2017M07, text = 2017M07
 id = 2017M08, text = 2017M08
 id = 2017M09, text = 2017M09
 id = 2017M10, text = 2017M10
 id = 2017M11, text = 2017M11
 id = 2017M12, text = 2017M12
 id = 2018M01, text = 2018M01
 id = 2018M02, text = 2018M02
 id = 2018M03, text = 2018M03
 id = 2018M04, text = 2018M04
 id = 2018M05, text = 2018M05
 id = 2018M06, text = 2018M06
 id = 2018M07, text = 2018M07
 id = 2018M08, text = 2018M08
 id = 2018M09, text = 2018M09
 id = 2018M10, text = 2018M10
 id = 2018M11, text = 2018M11
 id = 2018M12, text = 2018M12
 id = 2019M01, text = 2019M01
 id = 2019M02, text = 2019M02
 id = 2019M03, text = 2019M03
 id = 2019M04, text = 2019M04
 id = 2019M05, text = 2019M05
 id = 2019M06, text = 2019M06
 id = 2019M07, text = 2019M07
 id = 2019M08, text = 2019M08
 id = 2019M09, text = 2019M09
 id = 2019M10, text = 2019M10
 id = 2019M11, text = 2019M11
 id = 2019M12, text = 2019M12
 id = 2020M01, text = 2020M01
 id = 2020M02, text = 2020M02
 id = 2020M03, text = 2020M03
 id = 2020M04, text = 2020M04
 id = 2020M05, text = 2020M05
 id = 2020M06, text = 2020M06
 id = 2020M07, text = 2020M07
 id = 2020M08, text = 2020M08
 id = 2020M09, text = 2020M09
 id = 2020M10, text = 2020M10
 id = 2020M11, text = 2020M11
 id = 2020M12, text = 2020M12
 id = 2021M01, text = 2021M01

In [11]:
variables = {'BRANCHEDB071038': ['*'],'Tid': ['*']}
lbesk03 = Dst.get_data(table_id = 'LBESK03', variables = variables)
lbesk03.head()

                                     BRANCHEDB071038      TID  INDHOLD
0                             11 Activity not stated  2018M08      322
1  2 Manufacturing, mining and quarrying, and uti...  2018M08   331789
2                                     3 Construction  2018M08   163900
3                         4 Trade and transport etc.  2018M08   692065
4                    5 Information and communication  2018M08   106748

**Getting data from table: LSK01**

In [12]:
data_lsk01 = tables[tables.id=='LSK01']
data_lsk01
lsk_vars = Dst.get_variables(table_id='LSK01')
lsk_vars

,id,text,elimination,time,values
0,BRANCHE,industry,True,False,"[{'id': '0', 'text': 'Total'}, {'id': '2', 'te..."
1,ENHED,unit,False,False,"[{'id': 'LS', 'text': 'Job vacancies (number)'..."
2,STØRRELSE,size,True,False,"[{'id': '000', 'text': 'Workplaces total'}, {'..."
3,Tid,time,False,True,"[{'id': '2010K1', 'text': '2010Q1'}, {'id': '2..."

In [13]:
for id in ['BRANCHE','ENHED', 'Tid']:
    print(id)
    values = lsk_vars.loc[lsk_vars.id == id, ['values']].values[0,0]
    for value in values:
        print(f' id = {value["id"]}, text = {value["text"]}')

BRANCHE
 id = 0, text = Total
 id = 2, text = 2 Manufacturing, mining and quarrying, and utility services
 id = 3, text = 3 Construction
 id = 4, text = 4 Trade and transport etc.
 id = 5, text = 5 Information and communication
 id = 6-7, text = 6-7 Financial, insurance and real estate
 id = 8, text = 8 Other business services
ENHED
 id = LS, text = Job vacancies (number)
 id = ALS, text = Job vacancy rate (per cent)
Tid
 id = 2010K1, text = 2010Q1
 id = 2010K2, text = 2010Q2
 id = 2010K3, text = 2010Q3
 id = 2010K4, text = 2010Q4
 id = 2011K1, text = 2011Q1
 id = 2011K2, text = 2011Q2
 id = 2011K3, text = 2011Q3
 id = 2011K4, text = 2011Q4
 id = 2012K1, text = 2012Q1
 id = 2012K2, text = 2012Q2
 id = 2012K3, text = 2012Q3
 id = 2012K4, text = 2012Q4
 id = 2013K1, text = 2013Q1
 id = 2013K2, text = 2013Q2
 id = 2013K3, text = 2013Q3
 id = 2013K4, text = 2013Q4
 id = 2014K1, text = 2014Q1
 id = 2014K2, text = 2014Q2
 id = 2014K3, text = 2014Q3
 id = 2014K4, text = 2014Q4
 id = 2015K1, text = 2015Q1
 id = 2015K2, text = 2015Q2
 id = 2015K3, text = 2015Q3
 id = 2015K4, text = 2015Q4
 id = 2016K1, text = 2016Q1
 id = 2016K2, text = 2016Q2
 id = 2016K3, text = 2016Q3
 id = 2016K4, text = 2016Q4
 id = 2017K1, text = 2017Q1
 id = 2017K2, text = 2017Q2
 id = 2017K3, text = 2017Q3
 id = 2017K4, text = 2017Q4
 id = 2018K1, text = 2018Q1
 id = 2018K2, text = 2018Q2
 id = 2018K3, text = 2018Q3
 id = 2018K4, text = 2018Q4
 id = 2019K1, text = 2019Q1
 id = 2019K2, text = 2019Q2
 id = 2019K3, text = 2019Q3
 id = 2019K4, text = 2019Q4
 id = 2020K1, text = 2020Q1
 id = 2020K2, text = 2020Q2
 id = 2020K3, text = 2020Q3
 id = 2020K4, text = 2020Q4

In [14]:
variables = {'BRANCHE': ['*'], 'Enhed': ['LS'], 'Tid': ['*']}
lsk01 = Dst.get_data(table_id = 'LSK01', variables = variables)
lsk01.head()

,BRANCHE,ENHED,TID,STØRRELSE,INDHOLD
0,Total,Job vacancies (number),2010Q1,Workplaces total,19094.0
1,"2 Manufacturing, mining and quarrying, and uti...",Job vacancies (number),2010Q1,Workplaces total,2854.0
2,3 Construction,Job vacancies (number),2010Q1,Workplaces total,1362.0
3,4 Trade and transport etc.,Job vacancies (number),2010Q1,Workplaces total,7857.0
4,5 Information and communication,Job vacancies (number),2010Q1,Workplaces total,1666.0

# Merge data sets

In [15]:
dstmerge = pd.merge(aus07, lbesk03, how='outer', on=['TID']);
dstmerge.rename(columns = {'INDHOLD_x': 'Unemployed', 'INDHOLD_y': 'Employed', 'TID': 'TIME', 'BRANCHEDB071038': 'BRANCH'}, inplace = True)
#dstmerge.pd.date_to_time['TIME']
dstmerge.head()
#unemployed - gross

,SAESONFAK,TIME,Unemployed,BRANCH,Employed
0,Seasonally adjusted,2008M11,79298.9,"A Agriculture, forestry and fishing",38581.0
1,Seasonally adjusted,2008M11,79298.9,B Mining and quarrying,4780.0
2,Seasonally adjusted,2008M11,79298.9,C Manufacturing,363401.0
3,Seasonally adjusted,2008M11,79298.9,"D Electricity, gas, steam and air conditioning...",12108.0
4,Seasonally adjusted,2008M11,79298.9,"E Water supply, sewerage and waste management",11739.0

In [16]:
#delete M in TIME
#time = 'YYYYMMM'
#index = 4
#if len(time) > index:
#    time = time[0 : index : ] + time[index + 1: :]
    
#dstmerge['TIME'] = dstmerge['TIME'].map(lambda x: time)
#dstmerge.head()
#dstmerge['YYYYMM'] = pd.to_datetime(dstmerge['YYYYMM'], format='%Y%m')

# Data Analysis

In [17]:
def _plot_timeseries(dataframe, variable, times):
    
    fig = plt.figure(dpi=100)
    ax = fig.add_subplot(1,1,1)
    
    dataframe.loc[:,['time']] = pd.to_numeric(dataframe['time'])
    I = (dataframe['time'] >= years[0]) & (dataframe['time'] <= years[1])
    
    x = dataframe.loc[I,'time']
    y = dataframe.loc[I,variable]
    ax.plot(x,y)
    
    ax.set_xticks(list(range(times[0], times[1] + 1, 5)))    
    
def plot_timeseries(dataframe):
    
    widgets.interact(_plot_timeseries, 
    dataframe = widgets.fixed(dataframe),
    variable = widgets.Dropdown(
        description='variable', 
        options=['Unemployed','Employed'], 
        value='Unemployed'),
    years=widgets.IntRangeSlider(
        description="times",
        min='2008M11',
        max='2020M12',
        value=['2008M11', '2020M12'],
        continuous_update=False,
    )                 
);

In [18]:
plot_timeseries(dstmerge)

TraitError: The 'min' trait of an IntRangeSlider instance expected an int, not the str '2008M11'.

**Emne: Vi ønsker at analysere arbejdsstyrken (de beskæftigede samt de ledige)**
* hvad sker der under corona?
* hvor mange bliver ledige, ryger de i aktivering?
* er der nogen som under corona (arbejdsstyrken?)
* efterspørgsel - ledige stillinger

Periode: før/efter corona (sammenligner 2019 med 2020)
1. Beskæftigelse + ledige (overordnet)
* 
2. Ledige 
* aktivering osv.
* efterspørgsel -> ledige stillinger (brancher)
* udgangspunkt i f.eks. brancher
3. Beskæftigelse
* branche før/efter corona

1. Udviklingen i bruttoledighed (mange år) (AUS07)
* interaktiv graf (ps 3)
* alder / køn evt.

2. Udviklingen i beskæftigelse (LBSK03)
* branche

3. Efterspørgsel
* vis ledige stillinger (LSK01)

4. konklusion

# Conclusion

ADD CONCISE CONLUSION.